<%- include('header') -%>      
            <div class="container">
                <h1>Innskráning</h1>
                <form method="post" action="/post">
                    <div class ="notendanafn">
                        <label for="username"><b>Notendanafn</b></label>
                        <% if(errorInfo.includes('name')) { %>
                            <input type="text" name="username" class="input login-error">
                      <%  }else{ %>
                            <input type="text" name="username" class="input">
                       <% } %>
                    </div>
                    <div class="password">
                        <label for="password"><b>Lykilorð</b></label>
                        <% if(errorInfo.includes('nationalId')) { %>
                            <input type="text"  name="password" class="input login-error">
                      <%  }else{ %>
                            <input type="text" name="password" class="input">
                       <% } %>
                    </div>
                    <div>
                        <button class="login-btn"><b>Innskrá</b></button> 
                    </div>
                </form>
                <div class="login__back">
                    <div>
                        <a href="/">Til baka</a>
                    </div>
                </div>
            </div>

<%- include('footer') -%>